@import '../styles/variables'

.container
    background: repeating-linear-gradient(to right,rgba(0,0,0,.01),rgba(0,0,0,.01) 10px,rgba(0,0,0,0) 10px,rgba(0,0,0,0) 20px)
    header
        position: relative
        padding: 3.2rem
        padding-bottom: 16rem
        font-size: 1.4rem
        overflow: hidden
        background-color: var(--primary-background-color-light)
        background: linear-gradient(-45deg, #c3cbd8, #c3dbce, #ddc3cd, #d0c2ad)
        background-size: 600% 100%
        animation: gradient 30s ease infinite
        animation-direction: alternate

    .header-cover-gradient
        position: absolute
        background: linear-gradient(0deg, #E3E3E8, transparent)
        inset: 0

    @keyframes gradient
        0%
            background-position: 0% 50%
        50%
            background-position: 100% 50%
        100%
            background-position: 0% 50%

    .canvas-holder
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0

    .page-holder
        flex: 1
        min-height: 100vh

    .main-content-holder

    .main-content
        gap: calc(var(--gap) * 9)
        padding: 0 0 8rem
        grid-column: main-start/main-end
        @media (min-width: 768px)
            padding: 5rem 0 8rem
        @media (max-width: 768px)
            gap: calc(var(--gap) * 6)
            margin-block-start: 7rem
        @media (max-width: 568px)
            gap: calc(var(--gap) * 4)

    .header
        display: flex
        flex-direction: column
        align-items: center

    .backToHome
        margin: 3rem 0 0
