@import '../styles/variables'

.container
    header
        position: relative
        padding: 3.2rem
        padding-bottom: 16rem
        font-size: 1.4rem
        overflow: hidden
        background-color: var(--primary-background-color-light)
        background: linear-gradient(-45deg, #c3cbd8, #c3dbce, #ddc3cd, #d0c2ad)
        background-size: 600% 100%
        animation: gradient 30s ease infinite
        animation-direction: alternate

    .header-cover-gradient
        position: absolute
        background: linear-gradient(0deg, #E3E3E8, transparent)
        inset: 0

    @keyframes gradient
        0%
            background-position: 0% 50%
        50%
            background-position: 100% 50%
        100%
            background-position: 0% 50%

    .canvas-holder
        position: absolute
        top: 0
        bottom: 0
        left: 0
        right: 0

    .page-holder
        flex: 1

    .main-content-holder
        display: grid
        grid-template-columns: [full-start] minmax(8vmin, auto) [wide-start] minmax(auto, 240px) [main-start] min(800px,100% - 16vmin) [main-end] minmax(auto, 240px) [wide-end] minmax(8vmin, auto) [full-end]

    .main-content
        gap: var(--card-padding)
        padding: 8rem 0
        grid-column: main-start/main-end

    .header
        display: flex
        flex-direction: column
        align-items: center

    .backToHome
        margin: 3rem 0 0
