.container
    aside
        width: 26rem
        height: 100vh
        height: 100svh
        padding: 3.2rem
        font-size: 1.4rem
        background-color: var(--primary-background-color)

    main
        flex: 1
        background-color: #FFF

    .header
        display: flex
        flex-direction: column
        align-items: center

    .backToHome
        margin: 3rem 0 0
