.section
    position: relative
    width: 100%
    overflow: hidden
    background: var(--foreground-color)
    border-radius: var(--card-border-radius)
    padding: var(--card-padding)
    box-shadow: var(--card-shadow)
    &__icon

.section--w-heading
    padding: 0
    > *
        padding: var(--card-padding)
    .section__heading
        width: 100%
        border-bottom: .3rem solid rgba(0,0,0,.1)
        margin: 0
        gap: var(--gap)
        font-size: 2.6rem
        padding: var(--card-padding)
        padding-bottom: calc(var(--card-padding) / 2)
        padding-top: calc(var(--card-padding) / 1.2)
    .section__icon
        font-size: 3.5rem

.section--notes
    background: var(--notes-color-lighter)
    .section__heading
        color: var(--notes-color)
        border-bottom: .3rem solid var(--notes-color-light)

.section--Work
    h2
        color: #5855D7