.main-content-holder
    grid-template-columns: [full-start] minmax(8vmin, auto) [wide-start] minmax(auto, 240px) [main-start] min(1184px,100% - 16vmin) [main-end] minmax(auto, 240px) [wide-end] minmax(8vmin, auto) [full-end] !important
    > div > *
        margin: 0 100px
        width: auto

.screenshot
    height: auto