.main-content-holder
    > div > *
        // margin: 0 100px
        // width: auto

.screenshot
    height: auto

.info-table
    font-size: var(--info-table-fontsize)
    &__timeline
        width: 40%