@import '../styles/variables'

\:root,
[data-theme="light"]
    --foreground-color: #FFFFFF
    --notes-color: #FEBE01
    --notes-color-light: hsla(45, 99%, 27%, 0.13)
    --notes-color-lighter: #FFF9EB
    --notes-border-color: transparentize(#{$beige}, 50%)
    --primary-background-color: #{$primary-background-color-light}
    // --secondary-background-color:
    --primary-text-color: #{$fifth-color}
    --secondary-text-color: #{$fifth-color}
    --nav-background-level-1: rgba(255, 255, 255, 0.2)
    --nav-background-level-2: rgba(0,0,0,0.1)
    --glass-background-color: rgba(255,255,255,.3)

[data-theme="dark"]
    --foreground-color: #FFFFFF
    --notes-color: #FEBE01
    --notes-color-light: #FFF9EB
    --notes-color-lighter: #FFF9EB
    --notes-border-color: transparentize(, )
    --primary-background-color: #{$primary-color-dark}
    --secondary-background-color: #{$primary-color-dark}
    --primary-text-color: #{$second-color}
    --secondary-text-color: #{$second-color}
    --nav-background-level-1: rgba(255, 255, 255, 0.2)
    --nav-background-level-2: rgba(0,0,0,0.1)
    --glass-background-color: rgba(255,255,255,.3)

[data-theme="purple"]
    --foreground-color: #FFFFFF
    --notes-color: #FEBE01
    --notes-color-light: #FFF9EB
    --notes-color-lighter: #FFF9EB
    --notes-border-color: transparentize(, )
    --primary-background-color: #{$primary-color-light}
    --secondary-background-color: #{$second-color}
    --primary-text-color: #{$fifth-color}
    --secondary-text-color: #{$second-color}
    --nav-background-level-1: rgba(255, 255, 255, 0.2)
    --nav-background-level-2: rgba(0,0,0,0.1)
    --glass-background-color: rgba(255,255,255,.3)

\:root
    --gap: .6rem
    --card-border-radius: 4rem
    --card-padding: 3rem
    --card-shadow: rgba(102, 102, 102, 0.1) 0px 10px 16px, 0 15px 40px rgba(166,173,201,0.2), 0 0 0 .2rem rgba(166,173,201,0.08)