@import '../styles/variables'

.flex
    display: flex

.flex-row
    flex-direction: row

.flex-column
    flex-direction: column

.fg-1
    flex-grow: 1

.gap-6
    gap: .6rem

.gap-15
    gap: 1.5rem

.rel
    position: relative

.space-between
    justify-content: space-between

.fill-white
    fill: var(--secondary-text-color)

.flex-align-center
    align-items: center

.flex-align-baseline
    align-items: baseline

.fully-aligned
    align-items: center
    justify-content: center

.grid
    display: grid

.grid-cols-1
    grid-template-columns: repeat(1,minmax(0,1fr))

@media (min-width:800px)
    .grid-cols-2
        grid-template-columns: repeat(2,minmax(0,1fr))

@media (min-width:1024px)
    .grid-cols-3
        grid-template-columns: repeat(3,minmax(0,1fr))

.heading2Xl
    font-size: 2.5rem
    line-height: 1.2
    font-weight: 800
    letter-spacing: -0.05rem
    margin: 1rem 0

.headingXl
    font-size: 2rem
    line-height: 1.3
    font-weight: 800
    letter-spacing: -0.05rem
    margin: 1rem 0

.headingLg
    font-size: 1.5rem
    line-height: 1.4
    margin: 1rem 0


.headingMd
    font-size: 1.2rem
    line-height: 1.5


.borderCircle
    border-radius: 9999px

.colorInherit
    color: inherit

.list
    list-style: none
    padding: 0
    margin: 0

.listItem
    margin: 0 0 1.25rem

.lightText
    color: #666

.main-content-padding
    padding: 8rem

.oversized-text
    font-size: 8rem
    font-variation-settings: 'wght' 800
    line-height: 1.2
    margin-bottom: calc($gap*6)
    transition: font-variation-settings 1s ease
    &:hover
        font-variation-settings: 'wght' 200

.rounded-m
    border-radius: $rounded-m

.z-1
    z-index: 1

@media screen and (min-width: 1140px)
    .text-two-column
        grid-template-columns: repeat(2,minmax(0,1fr))

@media screen and (min-width: 1576px)
    .text-two-column-oversized
        grid-template-columns: repeat(2,minmax(0,1fr))