$primary-background-color-light: #ECECEC
$secondary-background-color: #F3F4F6

$primary-color-light: #BB42FF
$primary-color-dark: #312338
$second-color: #F3F4F6
$third-color: #FFAA5A
$fourth-color:#FF785A
$fifth-color:#191919

$gap: .6rem
$rounded-m: .8rem
$rounded-xl: 2rem